@import "tailwindcss";

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #030712;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #030712;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #374151;
  border: 2px solid #030712;
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
